shallow_clone: true

environment:
  matrix:

  - PLATFORM: x64
    CONFIGURATION: Debug
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    generator: "-G\"Visual Studio 16 2019\""
    arch: "-A\"x64\""
    glmArguments: -DGLM_TEST_FORCE_PURE=ON -DGLM_QUIET=ON -DGLM_TEST_ENABLE=ON

  - PLATFORM: x86
    CONFIGURATION: Release
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    generator: "-G\"Visual Studio 16 2019\""
    glmArguments: -DGLM_TEST_FORCE_PURE=ON -DGLM_QUIET=ON -DGLM_TEST_ENABLE=ON

  - PLATFORM: x64
    CONFIGURATION: Debug
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-9
    CXX: g++-9
    glmArguments: -DGLM_TEST_FORCE_PURE=ON -DCMAKE_BUILD_TYPE=Debug -DGLM_TEST_ENABLE_CXX_17=ON -DCMAKE_CXX_COMPILER=g++-9

  - PLATFORM: x86
    CONFIGURATION: Release
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    generator: "-G\"Visual Studio 12 2013\""
    glmArguments: -DGLM_TEST_FORCE_PURE=ON -DGLM_QUIET=ON -DGLM_TEST_ENABLE=ON

  - PLATFORM: x64
    CONFIGURATION: Debug
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-7
    CXX: g++-7
    glmArguments: -DCMAKE_BUILD_TYPE=Debug -DGLM_TEST_ENABLE=ON -DGLM_TEST_ENABLE_CXX_17=ON -DGLM_TEST_ENABLE_LANG_EXTENSIONS=ON

  - PLATFORM: x64
    CONFIGURATION: Debug
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-7
    CXX: g++-7
    glmArguments: -DCMAKE_BUILD_TYPE=Debug -DGLM_TEST_ENABLE=ON -DGLM_TEST_ENABLE_CXX_17=ON -DGLM_TEST_FORCE_PURE=ON -- -DGLM_FORCE_CXX17 -DGLM_FORCE_PURE -std=c++17 -mfpmath=387

  - PLATFORM: x64
    CONFIGURATION: Debug
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-7
    CXX: g++-7
    glmArguments: -DCMAKE_BUILD_TYPE=Debug -DGLM_TEST_ENABLE=ON -- -DGLM_FORCE_CXX17 -std=c++17 -mfpmath=387

  - PLATFORM: x64
    CONFIGURATION: Debug
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-7
    CXX: g++-7
    glmArguments: -DCMAKE_BUILD_TYPE=Debug -DGLM_TEST_ENABLE=ON -- -DGLM_FORCE_CXX17 -std=c++17 -ffloat-store

  - PLATFORM: x64
    CONFIGURATION: Debug
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-7
    CXX: g++-7
    glmArguments: -DCMAKE_BUILD_TYPE=Debug -DGLM_TEST_ENABLE=ON -- -DGLM_FORCE_CXX17 -std=c++17 -ffast-math

  - PLATFORM: x64
    CONFIGURATION: Debug
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-7
    CXX: g++-7
    glmArguments: -DCMAKE_BUILD_TYPE=Debug -DGLM_TEST_ENABLE=ON -- -DGLM_FORCE_CXX17 -std=c++17 -ffloat-store -mfpmath=387

  - PLATFORM: x64
    CONFIGURATION: Debug
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-7
    CXX: g++-7
    glmArguments: -DCMAKE_BUILD_TYPE=Debug -DGLM_TEST_ENABLE=ON -- -DGLM_FORCE_CXX17 -std=c++17 -ffast-math -mfpmath=387

  - PLATFORM: x64
    CONFIGURATION: Release
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-7
    CXX: g++-7
    glmArguments: -DCMAKE_BUILD_TYPE=Release -DGLM_TEST_ENABLE=ON -- -DGLM_FORCE_CXX17 -std=c++17 -mfpmath=387

  - PLATFORM: x64
    CONFIGURATION: Release
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-7
    CXX: g++-7
    glmArguments: -DCMAKE_BUILD_TYPE=Release -DGLM_TEST_ENABLE=ON -- -DGLM_FORCE_CXX17 -std=c++17 -ffloat-store

  - PLATFORM: x64
    CONFIGURATION: Release
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-7
    CXX: g++-7
    glmArguments: -DCMAKE_BUILD_TYPE=Release -DGLM_TEST_ENABLE=ON -- -DGLM_FORCE_CXX17 -std=c++17 -ffast-math

  - PLATFORM: x64
    CONFIGURATION: Release
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-7
    CXX: g++-7
    glmArguments: -DCMAKE_BUILD_TYPE=Release -DGLM_TEST_ENABLE=ON -- -DGLM_FORCE_CXX17 -std=c++17 -ffloat-store -mfpmath=387

  - PLATFORM: x64
    CONFIGURATION: Release
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    generator: ""
    arch: ""
    CC: gcc-7
    CXX: g++-7
    glmArguments: -DCMAKE_BUILD_TYPE=Debug -DGLM_TEST_ENABLE=ON -- -DGLM_FORCE_CXX17 -std=c++17 -ffast-math -mfpmath=387


before_build:
  - ps: |
      mkdir build
      cd build

      echo generator="$env:generator"
      echo arch="$env:arch"
      echo args="$env:glmArguments"

      cmake .. $env:generator $env:arch -DCMAKE_INSTALL_PREFIX="$env:APPVEYOR_BUILD_FOLDER/install" -DGLM_TEST_ENABLE=ON $env:glmArguments

build_script:
  - cmake --build . --parallel --config %CONFIGURATION%

test_script:
  - ps: |
      # gci -recurse
      $expp = (Get-ChildItem -recurse "expp.exe","expp")[0].FullName
      Write-Host $expp
      Get-ChildItem -recurse *.testresult | Remove-Item
      & $expp
      $testresult = (Get-ChildItem -recurse *.testresult)[0].FullName
      Get-Content $testresult | ForEach { $v = $_.split(';'); Add-AppveyorTest -Name "$v[0]" -Framework sgUnit -Filename expp.exe -Outcome $(If ($v[1] -eq "true") {"Passed"} Else {"Failed"}) -Duration 0 }

deploy: off
