shallow_clone: true

environment:
  arch: ""
  GLM_ARGUMENTS: -DGLM_TEST_FORCE_PURE=ON
  matrix:
  - platform: x64
    configuration: Debug
    image: Visual Studio 2019
  - platform: x86
    configuration: Release
    image: Visual Studio 2019

for:
-
  matrix:
    only:
      - image: Visual Studio 2019
        platform: x64
  environment:
    arch: "-A\"x64\""
-
  matrix:
    only:
      - image: Visual Studio 2019
  environment:
    generator: "Visual Studio 16 2019"

before_build:
  - ps: |
      mkdir build
      cd build
      echo generator="$env:generator"
      echo arch="$env:arch"
      cmake .. -G"$env:generator" $env:arch -DCMAKE_INSTALL_PREFIX="$env:APPVEYOR_BUILD_FOLDER/install" -DGLM_QUIET=ON -DGLM_TEST_ENABLE=ON "$env:GLM_ARGUMENTS"

build_script:
  - cmake --build . --parallel --config %CONFIGURATION% -- /m /v:minimal

test_script:
  - ps: |
      # gci -recurse
      $expp = (gci -recurse expp.exe)[0].FullName
      write-host $expp
      gci -recurse *.testresult | rm
      & $expp
      $testresult = (gci -recurse *.testresult)[0].FullName
      gc $testresult | foreach { $v = $_.split(';'); Add-AppveyorTest -Name $v[0] -Framework sgUnit -Filename expp.exe -Outcome $(If ($v[1] -eq "true") {"Passed"} Else {"Failed"}) -Duration 0 }

deploy: off
